<!DOCTYPE html>
<html>
<% include ../partials/head %>
    <body>
        <% include ../partials/header %>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <% include ../partials/locals_errors %>
                    <% include ../partials/form_errors %>
                </div>
                <div class="center col-xs-12">
                    <% if(typeof(singleDate) != 'undefined') { %>
                        <h1>Fishes caught on: <%= singleDate[0].date_caught %></h1>
                        <% singleDate.forEach(fish => { %>
                            <div class="swipe_div">
                                <a href=<%="/singleFish/" + fish._id %> alt=<%="/singleFish/" + fish._id %> title=<%="/singleFish/" + fish._id %> >
                                    <img src=<%="/img/fish/fish/" + fish.images[0] %> alt=<%="/img/fish/" + fish.images %> title=<%="/img/fish/" + fish.images %> class="img-responsive latest_img">
                                </a>
                                <div class="fish_wrapper row">
                                    <div class="fish_left col-xs-4">
                                        <p>
                                            <span class="label_span">Species: </span>
                                        </p>
                                        <p>
                                            <span class="label_span" width="100">Weight: </span>
                                        </p>
                                        <p>
                                            <span class="label_span" width="100">Location: </span>
                                        </p>
                                        <p>
                                            <span class="label_span">Date Caught: </span>
                                        </p>
                                        <p>
                                            <span class="label_span">Caught By: </span>
                                        </p>
                                        <p>
                                            <span class="label_span">Description: </span>
                                        </p>
                                    </div>
                                    <div class="fish_right col-xs-8">
                                        <p>
                                            <a id="type_a" href=<%= "/singleFishSpecies/" + fish.species._id %> alt=<%= "/singleFishSpecies/" + fish.species._id %> title=<%= "/singleFishSpecies/" + fish.species._id %> >
                                                <%= fish.species.name %>
                                            </a>
                                        </p>
                                        <p>
                                            <span id="weight_span">
                                                <%= fish.weight %> kg
                                            </span>
                                        </p>
                                        <p>
                                            <span>
                                                <a id="location_a" href=<%= "/locations/getSingleLocation/" + fish.location._id %> title=<%= "/locations/getSingleLocation/" + fish.location._id %> alt=<%= "/locations/getSingleLocation/:" + fish.location._id %> >
                                                    <%= fish.location.name %>
                                                </a>
                                            </span>
                                        </p>
                                        <p>
                                            <span id="date_caught_span">
                                                <a href=<%= "/loadSingleDate/" + fish.date_caught %> title=<%= "/loadSingleDate/" + fish.date_caught %> alt=<%= "/loadSingleDate/" + fish.date_caught %> >
                                                    <%= fish.date_caught %>
                                                </a>
                                            </span>
                                        </p>
                                        <p>
                                            <span id="caught_by_span">
                                                <%= fish.caught_by.local.account.username %>
                                            </span>
                                        </p>
                                        <p>
                                            <span id="description_span">asdfsadf<%= fish.description %></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    <% } else if( dates != "undefined" ) { %>
                        <% if(dates.length != 0) { %>
                            <h1>Dates</h1>
                            <% dates.forEach(date => { %>
                                <p>
                                    <a id="type_a" href=<%= "/loadSingleDate/" + date %> alt=<%= "/loadSingleDate/" + date %> title=<%= "/loadSingleDate/" + date %> >
                                        <%= date %>
                                    </a>
                                </p>
                            <% }) %>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- /container -->
        <% include ../partials/footer %>
    </body>
</html>