<!DOCTYPE html>
<html>
<% include ../partials/head %>
    <body>
        <% include ../partials/header %>
        <div class="container">
            <div class="row">
                <p>
                    <% include ../partials/locals_errors %>
                    <% include ../partials/form_errors %>
                </p>
            </div>
            <div class="row">
                <% if(user) { %>
                    <div class="col-xs-12 profile_container">
                        <div class="row">
                            <nav class="navbar navbar-expand-xl navbar-light bg-light" id="profile_nav">
                                <a class="navbar-brand" href="/fish/user/profile" id="home_link_fish">
                                    <div id="heading_container">
                                        <h2 class="profile_h2">
                                            <%= user.local.account.username %>
                                        </h2>
                                        <p class="profile_heading_span"><%= user.local.role %></p>
                                    </div>
                                </a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNav">
                                    <ul class="navbar-nav justify-content-end">
                                        <li role="dropdown-item presentation">
                                            <a class="nav-link override_background" href="/fish/user/profile/myFish">
                                                My Fish
                                            </a>
                                        </li>
                                        <li role="dropdown-item presentation">
                                            <a class="nav-link override_background" href="/fish/user/profile/socialNetworking">
                                                Socials
                                            </a>
                                        </li>
                                        <li role="dropdown-item presentation">
                                            <a class="nav-link override_background" href="/fish/user/profile/security">
                                                Security
                                            </a>
                                        </li>
                                        <li role="dropdown-item presentation">
                                            <a class="nav-link override_background" href="/fish/user/profile/edit_preferences">
                                                Preferences & Privacy
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6 halves">
                                <a class="navbar-brand" href="/fish/user/profile" id="home_link_fish">
                                    <img src=<%= "/img/global/user/" + user.local.profile_img %> alt="profile image" title="profile image" class="profile_img img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-12 col-md-6 halves">
                                <div class="row">
                                    <div class="col-xs-12 profile_content_container">
                                        <p>
                                            <label class="profile_label">Name: </label>
                                            <span class="profile_span"><%= user.local.contact_info.name %></span>
                                        </p>
                                        <p>
                                            <label class="profile_label">E-mail Adress: </label>
                                            <span class="profile_span"><%= user.local.contact_info.email %></span>
                                        </p>
                                        <p>
                                            <label class="profile_label">Created Date: </label>
                                            <span class="profile_span"><%= user.local.created %></span>
                                        </p>
                                        <p>
                                            <label class="profile_label">Signature: </label>
                                            <span class="profile_span"><%= user.local.signature %></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <% include ../partials/footer %>
        </div>
    </body>
</html>